# Private keys / secrets
*.key
*.pem
*.p12
*.pfx
*.secret
*.pass

# Environment files
.env
.env.*

# SSH private keys
id_ed25519
id_rsa
id_ecdsa
ssh_user_host_ca

# PKI private keys
root-ca.key
intermediate-ca.key
securelab.key

# Sensitive account files
shadow
shadow.*
passwd.backup

# Backups/temp
*.bak
*.backup
*~
